# SPDX-FileCopyrightText: Contributors to atlite <https://github.com/pypsa/atlite>
#
# SPDX-License-Identifier: CC0-1.0

[run]
branch = True
source = atlite
omit =
    test/*
    setup.py
    atlite/datasets/ncep*
    atlite/datasets/cordex*
