# SPDX-FileCopyrightText: 2021 The Atlite Authors
#
# SPDX-License-Identifier: CC0-1.0

[run]
branch = True
source = atlite
omit =
    test/*
    setup.py
    atlite/datasets/ncep*
    atlite/datasets/cordex*
