# -*- coding: utf-8 -*-

# SPDX-FileCopyrightText: 2016-2019 The Atlite Authors
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: atlite
channels:
  - defaults
  - conda-forge
  - defaults
dependencies:
  - python>=3.6

  # Recommended for pandas and xarray
  - bottleneck
  - numexpr

  # Following suggestion from nbsphinx documentation, install this from conda-forge
  - pandoc
  - ipython
  - pip

  - pip:
    - sphinx
    - sphinx_rtd_theme
    - nbsphinx
    - nbsphinx_link
    - scipy
    - pandas>=1.0
    - xarray>=0.16.2
    - netcdf4
    - dask>=0.18.0
    - progressbar2
    - pyyaml
    - geopandas
    - cdsapi
    - pyproj>=2.0
    - rasterio>=1.0
