# SPDX-FileCopyrightText: 2021 The Atlite Authors
#
# SPDX-License-Identifier: CC0-1.0

name: CI

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 5
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        # - windows-latest outcommented due to difficult rasterio installation

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        echo -ne "url: https://cds.climate.copernicus.eu/api/v2 \nkey: ${{secrets.CDSAPI_TOKEN}}\n" > ~/.cdsapirc
        python -m pip install --upgrade pip
        pip install -e .[dev]
    - name: Test with pytest
      run: |
        export HDF5_USE_FILE_LOCKING=FALSE
        pytest --cov=./  --cov-report=xml
    - name: Upload code coverage report
      if: matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v1
